.zirox {
    &-pricing {
        background-image: url('../img/pricing/pricing-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        &__vectors {
            img,h4 {
                position: absolute;
            }
            &-left {
                top: 0;
                left: -34px;
                width: 200px;
                @media #{$ls} {
                    width: unset;
                    left: -240px;
                }
                @media #{$small_mobile} {
                    left: -86px;
                }
            }
            &-right {
                top: 0;
                right: -112px;
                width: 180px;
                @media #{$ls} {
                    width: unset;
                    right: -203px;
                }
                @media #{$small_mobile} {
                    right: -90px;
                    width: 124px;
                }
            }
            &-bottom {
                bottom: 118px;
                left: 0;
                right: 0;
                font-size: 418px;
                color: rgba(7, 132, 127, 0.051);
                font-weight: 700;
                line-height: 0.12;
                text-transform: capitalize;
                @media #{$tab_device} {
                    font-size: 164px;
                    bottom: 30px;
                }
                @media #{$small_mobile} {
                    font-size: 100px;
                    bottom: 20px;
                }
            }
        }
        &__text {
            position: relative;
            z-index: 11;

            @media #{$tab_device} {
                text-align: center;
            }
            @media #{$small_mobile} {
                text-align: center;
            }
            h2 {
                font-weight: 600;
                font-size: 50px;
                margin-bottom: 0;
                @media #{$small_mobile} {
                    font-size: 45px;
                }
            }
            p {
                color: $home-3-primary-color;
                margin: 28px 0;
                @media #{$small_mobile} {
                    margin: 18px;
                }
            }
            &-btns {
                display: flex;
                align-items: center;
                gap: 20px;
                @media #{$tab_device} {
                    justify-content: center;
                }
                @media #{$small_mobile} {
                    justify-content: center;
                }

                button {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(7, 132, 127, 0.2);
                    border-radius: 100%;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background-color: $home-3-primary-color;
                    }
                    @media #{$small_mobile} {
                        width: 40px;
                        height: 40px;
                    }
                    i {
                        color: #fff;
                        font-size: 18px;
                        transition: all 0.3s ease-in-out;
                    }
                }
                &--testimonials {
                    button {
                        background: transparent;
                        border: 2px solid #e8e7e7;
                        i {
                            color: #e8e7e7;
                        }
                        &:hover {
                            background: transparent;
                            border-color: $home-3-primary-color;
                            i {
                                color: $home-3-primary-color;
                            }
                        }
                    }
                }
            }
            &-satisfaction {
                width: 270px;
                height: auto;
                background-color: $home-3-secondary-color;
                padding: 20px 34px;
                border: 18px solid $home-3-primary-color;
                margin-top: 50px;
                position: relative;
                @media #{$lg_device} {
                    margin: 50px 0;
                }
                @media #{$tab_device} {
                    width: 250px;
                    margin: 30px 0;
                    padding: 15px 30px;
                    border: 10px solid $home-3-primary-color;
                }
                @media #{$small_mobile} {
                    width: 200px;
                    margin: 20px 0;
                    padding: 8px 15px;
                    border: 10px solid $home-3-primary-color;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    border-bottom: solid 30px $home-3-primary-color;
                    border-left: solid 30px $home-3-primary-color;
                    border-right: solid 30px transparent;
                    border-top: solid 30px transparent;
                    transform: rotate3d(1, 1, 1, 45deg);
                    z-index: -1;
                    right: 26px;
                    bottom: -38px;
                    @media #{$tab_device} {
                        bottom: -25px;
                    }
                    @media #{$small_mobile} {
                        bottom: -18px;
                    }
                }
                h3 {
                    color: #fff;
                    font-size: 48px;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    @media #{$small_mobile} {
                        font-size: 24px;
                    }
                    sup {
                        font-size: 25px;
						top: 12px;
                    }
                }
                p {
                    margin: 0;
                    color: #fff;
                    @media #{$small_mobile} {
                        font-size: 14px;
                    }
                }
            }
        }
        &__table {
            background-color: #f7f7f7;
            padding: 15px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 160px;
                top: 0;
                left: 0;
                right: 0;
                background-color: $home-3-primary-color;
            }
            &-content {
                padding: 60px 24px 50px 24px;
                background-color: #fff;
                border: 1px solid #e8e7e7;
                position: relative;
                &-head {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    padding-bottom: 36px;
                    border-bottom: 1px solid #e8e7e7;
                    p{
                        color: $home-3-secondary-color;
                        font-size: 25px;
                        margin-bottom: 8px;
                    }
                    h3 {
                        font-size: 48px;
                        font-weight: 600;
                        color: $home-3-secondary-color;
                    }
                    span {
                        font-size: 20px;
                        color: #7f8080;
                    }
                }
                &-body {
                    padding: 25px 10px 0 10px;
                    &-list {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 28px;
                        i {
                            font-size: 28px;
                            color: #e8e7e7;
                        }
                    }
                    &-btn {
                        margin-top: 52px;
                        text-align: center;
                        a {
                            padding: 18px 30px;
                            background-color: #f7f7f7;
                            color: #000;
                            margin-inline: auto;
                            border-radius: 64px;
                            transition: all 0.4s ease-in-out;
                            &:hover {
                                background-color: $home-3-primary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &--home-2 {
            background-image: none;
            h2 {
                max-width: 600px;
                margin-inline: auto;
                margin-bottom: 62px;
            }
            .zirox-pricing__table {
                padding: 30px 24px;
                border: 1px solid #e8e7e7;
                background-color: unset;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover {
                    .zirox-pricing__table-head {
                        &-price {
                            border-color: $primary-color;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .zirox-pricing__table-body-list i {
                        transition: all 0.4s ease-in-out;
                    }
                    .zirox-pricing__table-body-btn a {
                        background-color: #3A353C;
                    }
                }
                &::before {
                    content: unset;
                }
                @media #{$tab_device} {
                    margin-bottom: 50px;
                }
                @media #{$small_mobile} {
                    margin-bottom: 30px;
                }
                &-head {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    img {
                        width: 100%;
                        height: auto;
                        border: 2px solid transparent;
                        transition: all 0.4s ease-in-out;
                    }
                    &-price {
                        padding: 20px 30px;
                        border: 2px solid #7f8080;
                        display: flex;
                        transition: all 0.4s ease-in-out;
                        h3 {
                            font-size: 45px;
                            font-weight: 600;
                            color: $primary-color;
                        }
                        span {
                            font-size: 24px;
                            font-weight: 600;
                            color: $primary-color;
                            line-height: 18px;
                        }
                        p {
                            margin: 10px 0 0 5px;
                            font-size: 16px;
                            font-weight: 500;
                            color: #878c8f;
                        }
                    }
                    &-title {
                        line-height: 28px;
                        font-weight: 500;
                    }
                }
                &-body {
                    padding-top: 30px;
                    &-list {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        margin-bottom: 28px;
                        transition: all 0.4s ease-in-out;
                        &:hover {
                            i {
                                color: $primary-color;
                            }
                            p {
                                color: #3A353C;
                                transition: all 0.4s ease-in-out;
                            }
                        }
                        i {
                            font-size: 32px;
                            color: #e8e7e7;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    &-btn {
                        a {
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
    }
}