.zirox {
    &-customer-retention {
        background-image: url('../img/customer-retention/customer-retention.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
		padding: 100px 0;
		@media #{$small_mobile} {
			padding: 70px 0;
		}
        h2 {
            margin: 0;
            color: #fff;
            @media #{$tab_device} {
                text-align: center;
                margin-bottom: 30px;
            }
            @media #{$small_mobile} {
                text-align: center;
                margin-bottom: 30px;
                font-size: 40px;
            }
        }
    }
}