.zirox-doc {
    &-main-content {
        padding-left: 40px;
        @media #{$desktop_m} {
            padding-left: 0;
        }
        &-info {
            box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
            border: 1px solid #e5ebef;
            margin-top: 10px;
            margin-bottom: 25px;
            border-radius: 2px;
            &-list {
                position: relative;
                list-style: none;
                padding-left: 20px;
                margin: 20px 0;
                &::before {
                    content: "";
                    position: absolute;
                    left: 32px;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background-color: #c4cdd5;
                }
                li {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                    margin: 16px 0;
                    position: relative;
                    padding-left: 35px;
                    counter-increment: a;
                    &::before {
                        content: counter(a);
                        position: absolute;
                        color: #fff;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        font-weight: 500;
                        font-size: 12px;
                        background-color: $primary-color;
                        text-align: center;
                        line-height: 23px;
                        top: -4px;
                        left: -4px;
                        border: 5px solid #fff;
                    }
                }
            }
        }
        figure {
            margin: 0;
            padding: 0;
            padding: 20px;
            border: 1px solid #e5ebef;
            margin-bottom: 35px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &-introduction {
            h2 {
                font-weight: 600;
                margin-bottom: 13px;
                font-size: 34px;
            }
            &-title {
                margin-bottom: 24px;
                font-weight: 600;
                font-size: 22px;
            }
            &-top-support {
                font-size: 16px;
                a {
                    color: $primary-color;
                }
            }
        }
        &-requirements {
            h3 {
                font-weight: 600;
                margin: 22px 0 15px 0;
            }
            h4 {
                font-weight: 600;
                margin-top: 5px;
            }
        }
        &-what-included {
            p {
                margin-top: 13px;
            }
        }
        &-template,&-change-content {
            h2 {
                margin: 65px 0 18px 0;
                font-size: 34px;
            }
            ul {
                margin: 10px 0 20px 0;
                li {
                    a {
                        color: #000;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                }
            }
            h3 {
                margin-bottom: 14px;
            }
            h5 {
                color: $primary-color;
                font-weight: 500;
            }
            .alert {
                display: flex;
                gap: 15px;
                i {
                    color: $primary-color;
                    padding-top: 5px;
                }
            }
            #change_color {
                strong {
                    color: $primary-color;
                }
            }
        }
        &-source {
            h3 {
                margin-top: 60px;
            }
            ul {
                list-style: none;
                box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
                border: 1px solid #e5ebef;
                padding: 20px;
                margin-top: 10px;
                margin-bottom: 25px;
                border-radius: 2px;
                li {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        content: "";
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: #2974FF;
                        position: absolute;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }
        &-support {
            margin-bottom: 50px;
            h3 {
                margin: 60px 0 14px 0;
            }
            a {
                color: $primary-color;
            }
        }

        h2 {
            @media #{$small_mobile} {
                font-size: 28px;
            }
        }
        h3 {
            @media #{$small_mobile} {
                font-size: 22px;
            }
        }
        h4 {
            @media #{$small_mobile} {
                font-size: 18px;
            }
        }
        p {
            @media #{$small_mobile} {
                font-size: 14px;
            } 
        }
        ul,ol {
            li {
                @media #{$small_mobile} {
                    font-size: 14px;
                }
            }
        }
        ol {
            margin-top: 10px;
        }
    }
}