.zirox-doc {
    &-sidebar {
        background: #fff;
        transition: all 0.4s ease-in-out;
        position: sticky;
        top: 114px;
        bottom: 0;
        width: 100%;
        overflow-x: hidden;
        padding-bottom: 38px;
        @media (max-width: 1199px) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 100%;
            padding: 20px;
            z-index: 1;
            transform: translateX(-300px);
            box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
        }
        @media #{$small_mobile} {
            width: 280px;
            transform: translateX(-280px);
        }
        &--open {
            transform: translateX(0px);
        }
        h3 {
            background: $primary-color;
            color: #fff;
            padding: 8px 20px;
            margin-bottom: 20px;
        }
        .nav {
            a {
                color: #000;
            }
        }
        .nav-pills .nav-link  {
            border-radius: 0px;
        }
        .main-link {
            font-weight: 600;
        }
        .nav-pills .nav-link.active {
            background-color: transparent;
            color: $primary-color;
        }
    }
}