.zirox {
    // Home -2
    &-info {
        background-image: url('../img/choose-us/home-2-info-bg.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0, 0.9);
        }
    }
    &-choose-us {
        background-image: url('../img/choose-us/choose-us-bg.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
		padding: 0px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
        }
        &__vector {
            img {
                position: absolute;
                right: 0;
                @media #{$tab_device} {
                    z-index: 99;
                }
                @media #{$small_mobile} {
                    z-index: 99;
                }
            }
            &-one {
                top: 0;
                @media #{$desktop_m} {
                    top: -77px;
                }
                @media #{$tab_device} {
                    top: -219px;
                }
                @media #{$small_mobile} {
                    top: -245px;
                }
            }
            &-two {
                top: 36px;
                @media #{$desktop_m} {
                    top: -42px;
                }
                @media #{$tab_device} {
                    top: -280px;
                }
                @media #{$small_mobile} {
                    top: -247px;
                }
            }
            &-three {
                top:119px;
                @media #{$desktop_m} {
                    top: 40px;
                }
                @media #{$tab_device} {
                    top: -305px;
                }
                @media #{$small_mobile} {
                    top: -210px;
                }
            }
        }
        &__wrapper {
            position: relative;
            z-index: 10;
			&__con {
				padding: 0 1.5rem;
				border-bottom: 1px solid rgba($color: #fff, $alpha: 0.102);
			}
        }
        &__left {
			margin-left: -1.5rem;
            @media #{$tab_device} {
                margin-left: -1.5rem;
                margin-right: -1.5rem;
            }
            @media #{$small_mobile} {
                margin-left: -1.5rem;
                margin-right: -1.5rem;
            }
			img {
                width: 100%;
				height: 780px;
				object-fit: cover;
                @media #{$tab_device} {
                    height: 580px;
                }
                @media #{$small_mobile} {
                    height: 430px;
                }
			}
        }
        &__right {
			margin-left: 30px;
			padding-top: 80px;
            @media #{$small_mobile} {
                margin-left: 0;
            }
            h6 {
                @media #{$tab_device} {
                    text-align: center;
                }
                @media #{$small_mobile} {
                    text-align: center;
                }
            }
            h2 {
                margin: 0px;
                max-width: 500px;
                @media #{$tab_device} {
                    text-align: center;
                    margin-inline: auto;
                }
                @media #{$small_mobile} {
                    text-align: center;
                }
            }
            p {
                margin: 40px 0;
                @media #{$tab_device} {
                    text-align: center;
                }
                @media #{$small_mobile} {
                    text-align: center;
                }
            }
            &__item {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 30px;
                &__img {
                    width: 80px;
                    height: 80px;
                    background-color: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    i {
                        font-size: 40px;
                        color: #fff;
                    }
                }
                &-text {
                    p {
                        margin:0;
                        text-align: left;
                    }
                }
            }
        }
        &__experience {
			padding: 120px 0;
            @media #{$small_mobile} {
                padding: 50px 0;
            }
            &__left {
                &__img {
                    // width: 247px;
                    // height: 247px;
                    position: relative;
					margin-left: -60px;
                    margin-bottom: 30px;
                    @media #{$tab_device} {
                        margin-left: -50px;
                    }
                    @media #{$small_mobile} {
                        margin-left: -34px;
                    }
                    &__pause {
                        position: absolute;
                        left: 100px;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        padding: 10px;
                        border: 1px solid #fff;
                        border-radius: 100%;
                        &__icon {
                            padding: 10px;
                            border: 1px solid #fff;
                            border-radius: 100%;
                            // img {
                            //     width: 80px;
                            //     height: 80px;
                            //     background-color: #fff;
                            //     padding: 25px;
                            //     border-radius: 100%;
                            // }
							&__wrapper {
								width: 80px;
                                height: 80px;
                                background-color: $white-color;
                                border-radius: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								&:hover {
									background-color: $primary-color;
									i {
										color: $primary-color;
										background-color: $white-color;
									}
								}
								i {
									background-color: $primary-color;
									width: 40px;
									height: 40px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 100%;
									transition: all 0.4s ease-in-out;
									color: $white-color;
									font-size: 20px;
								}
							}
                        }
                    }
                }
                &__text {
                    h2 {
                        @media #{$tab_device} {
                            text-align: center;
                        }
                        @media #{$small_mobile} {
                            text-align: center;
                        }
                    }
                    @media #{$tab_device} {
                        margin: 40px 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                    }
                    @media #{$small_mobile} {
                        margin-bottom: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            &__right {
                &-box {
                    padding: 40px 0;
                    border: 2px solid #fff;
					transition: all 0.4s ease-in-out;
                    @media #{$small_mobile} {
                        margin-bottom: 30px;
                    }
					&:hover {
						border: 2px solid $primary-color;
					}
                    i {
                        color: #fff;
                        font-size: 70px;
                        line-height: 0;
                    }
                    h2 {
                        color: #fff;
                        font-size: 60px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                    p {
                        font-size: 15px;
                        text-align: center;
                        color: #fff;
                    }
                }
            }
            &--home-2 {
                position: relative;
                z-index: 1;
                .zirox-choose-us__experience__left {
                    &__img {
                        width: 80px;
                        height: 80px;
                        border: 2px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 0;
                        cursor: pointer;
                        @media #{$small_mobile} {
                            margin-inline: auto;
                        }
                        i {
                            color: #fff;
                            font-size: 24px;
                        }
                    }
                    &__text {
                        h2 {
                            margin: 0;
                        }
                        p {
                            margin: 40px 0 30px 0;
                            font-size: 16px;
                            font-weight: 400;
                            color: #878c8f;
                            @media #{$tab_device} {
                                text-align: center;
                            }
                            @media #{$small_mobile} {
                                text-align: center;
                            }
                        }
                    }
                }
                .zirox-choose-us__experience__right {
                    &-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        @media #{$desktop} {
                            height: 100%;
                        }
                        @media #{$lg_device} {
                            padding: 40px 10px;
                        }
                        img {
                            width: 60px;
                            height: auto;
                        }
                        p {
                            font-size: 24px;
                            font-weight: 500;
                            margin: 24px 0 28px 0;
                        }
                        h2 {
                            font-size: 40px;
                            font-weight: 600;
                            margin: 0;
                        }
                    }    
                }
            }
        }
        &--home-2 {
            background-image: url('../img/choose-us/home-2-choose-us-bg.png');
            position: relative;
            .container {
                padding: 120px 0;
                @media #{$tab_device} {
                    padding: 70px 0;
                }
                @media #{$small_mobile} {
                    padding: 50px 0;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0px;
                    bottom: 0;
                    width: 30%;
                    height: 100%;
                    background-color: $primary-color;
                    z-index: -1;
                    @media #{$tab_device} {
                        content: unset;
                    }
                    @media #{$small_mobile} {
                        content: unset;
                    }
                }
                
            }
            .zirox-choose-us-vector {
                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: -106px;
                    height: 100%;
                    z-index: -3;
                    @media #{$ls} {
                        right: -270px;
                    }
                    @media #{$tab_device} {
                        display: none;
                    }
                    @media #{$small_mobile} {
                        display: none;
                    }
                }
            }
            .choose-us__left {
                padding-right: 116px;
                @media #{$desktop_m} {
                    padding: unset;
                }
                @media #{$tab_device} {
                    text-align: center;
                    margin-bottom: 50px;
                }
                @media #{$small_mobile} {
                    text-align: center;
                    margin-bottom: 30px;
                }
                h2 {
                    margin-bottom: 0;
                }
                p {
                    margin: 15px 0 30px 0;
                }
                &-box {
                    display: flex;
                    gap: 24px;
                    @media #{$small_mobile} {
                        margin-bottom: 20px;
                        justify-content: center;
                    }
                    &-img {
                        i {
                            font-size: 60px;
                            color: $primary-color;
                            @media #{$small_mobile} {
                                font-size: 30px;
                            }
                        }
                    }
                }
                &-btn {
                    margin-top: 28px;
                }
            }
            .choose-us__right {
                &-img {
                    width: 90%;
                    height: auto;
                    @media #{$tab_device} {
                        width: 100%;
                    }
                    @media #{$small_mobile} {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}