*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	color: #000;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lora", serif;
	margin: 0;
	text-transform: capitalize;
}

h1 {
	font-size: 85px;
	font-weight: 500;
	line-height: 105px;
	@media #{$small_mobile} {
		font-size: 60px;
		line-height: 70px;
	}
	@media #{$tab_device} {
		font-size: 70px;
		line-height: 80px;
	}
}

h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 55px;
	margin-bottom: 58px;
	@media #{$tab_device} {
		margin-bottom: 38px;
	}
	@media #{$small_mobile} {
		margin-bottom: 24px;
	}
}

h3 {
	font-size: 24px;	
	line-height: 35px;
	font-weight: 400;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}

h6 {
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: $primary-color;
}

p {
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #878C8F;
	margin: 0;
}

a {
	font-family: "Manrope", sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	font-size: 16px;
	color: #fff;
	border: none;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
	outline: none;
}

i {
	line-height: 0;
	margin: 0;
	padding: 0;
}

/* ------------------------------------
	Pre Loader
------------------------------------ */
body.home-1 .zirox-pre-loader .loading span::after {
	color: $home-3-primary-color;
}
.zirox {
	&-pre-loader {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		z-index: 9999;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 1;
		.loading {
			font-size: 120px;
			font-weight: 700;
			text-align: center;
			span {
				display: inline-block;
				margin: 0 -.05em;
				position: relative;
				color: rgba(0, 0, 0, 0.05);
				&::after {
					position: absolute;
					top: 0;
					left: 0;
					content: attr(data-text);
					color: $primary-color;
					opacity: 0;
					transform: rotateY(-90deg);
					animation: loading 4s infinite;
				}	
				@for $i from 1 through 6 {
					&:nth-child(#{$i+1})::after {
						animation-delay: #{$i*.2}s;
					}
				}
			}
		}
	}
}

/* ------------------------------------
	Home 3
------------------------------------ */
.home-1 {
	font-family: "Poppins", sans-serif;
	h1, h2, h3, h4, h5, h6 {
		font-family: "Poppins", sans-serif;
	}

	h1 {
		font-size: 90px;
	}
	h2 {
		color: $home-3-primary-color;
	}
	h6 {
		color: $home-3-primary-color;
	}
	p {
		font-family: "Poppins", sans-serif;
	}
}

/*------------------------------------
	Container
------------------------------------*/
.container {
	@media #{$small_mobile} {
		width: 94%;
	}
}

/*------------------------------------
	Slider
------------------------------------*/
.slick-dots {
	position: relative;
}

/*------------------------------------
	Overlay
------------------------------------*/
.overlay {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 40;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-in-out;
	&--active {
		opacity: 1;
		visibility: visible;
	}
}

/*------------------------------------
	Section
------------------------------------*/
.zirox {
	&-section {
		padding: 120px 0;
		@media #{$tab_device} {
			padding: 70px 0;
		}
		@media #{$small_mobile} {
			padding: 50px 0;
		}
	}
	/*------------------------------------
	Search Popup
	------------------------------------*/
	&-search-popup {
		position: absolute;
		top: 80px;
		right: 0;
		background-color: #fff;
		padding: 10px 20px;
		border-radius: 8px;
		width: 100%;
		max-width: 500px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		transform: translateY(-50%);
		&::before {
			content: "";
			position: absolute;
			top: -10px;
			left: 51.5%;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #fff;
		}
		&--open {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		input {
			border: 1px solid #ddd;
			padding: 15px;
			border-radius: 5px;
			outline: none;
			width: 100%;
			color: #878C8F;
		}
		button {
			border: none;
			background: $primary-color;
			position: absolute;
			padding: 10px;
			top: 50%;
			transform: translateY(-50%);
			right: 30px;
			border-radius: 5px;
			line-height: 1;
			i {
				color: #fff;
				font-size: 20px;
			}
		}
		&--home-2 {
			top: 130px;
			right: 380px;
			@media #{$ls} {
				right: 480px;
			}
			button {
				background-color: rgba(28, 27, 31, 0.9);
			}
		}
		&--home-3 {
			top: 100px;
			left: 192px;
			z-index: 9;
			@media #{$ls} {
				left: 190px;
			}
			button {
				background: $home-3-primary-color;
			}
		}
	}
	/*------------------------------------
	About Section Box
	------------------------------------*/
	&-box {
		@media #{$small_mobile} {
			margin-bottom: 70px;
		}
		&-img {
			width: 70px;
			height: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $primary-color;
			margin-bottom: 24px;
			i {
				font-size: 40px;
				color: #fff;
			}
			@media #{$tab_device} {
				margin-inline: auto;
			}
			@media #{$small_mobile} {
				margin-inline: auto;
			}
		}
		
		&--home-3 {
			height: 100%;
			background-color: #fff;
			padding: 60px;
			transition: all 0.4s ease-in-out;
			cursor: pointer;
			margin-bottom: 30px;
			@media #{$desktop} {
				margin-bottom: 0;
			}
			@media #{$lg_device} {
				height: auto;
			}
			@media #{$small_mobile} {
				padding: 40px;
				height: unset;
			}
			@media #{$tab_device} {
				height: unset;
			}
			i {
				font-size: 50px;
				color: $home-3-secondary-color;
				transition: all 0.4s ease-in-out;
			}
			h3 {
				font-size: 17px;
				color: $home-3-secondary-color;
				margin: 28px 0 8px;
				transition: all 0.4s ease-in-out;
				font-weight: 600;
			}
			p {
				font-size: 20px;
				color: $home-3-primary-color;
				transition: all 0.4s ease-in-out;
				font-weight: 600;
			}
			&:hover {
				background-color: $home-3-secondary-color;
				i {
					color: #fff;
				}
				h3 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
		&--stats {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 2px;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: #fff;
				@media #{$small_mobile} {
					width: 70%;
					height: 2px;
					left: 50%;
					transform: translateX(-50%);
					top: unset;
					right: unset;
					bottom: -25px;
				}
			}
			&--no-line {
				&::after {
					content: unset ;
				}
			}
			@media #{$tab_device} {
				margin-bottom: 50px;
			}
			i {
				font-size: 65px;
				color: #fff;	
				margin-bottom: 20px;
			}
			h2 {
				margin-bottom: 0;
				color: #fff;
				font-size: 40px;
				font-weight: 600;
			}
			p {
				color: #fff;
				font-size: 14px;
			}
		}
		&--popular-services {
			background-color: #fff;
			padding: 40px;
			box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
			i {
				color: $home-3-primary-color;
			}
			h3 {
				color: $home-3-primary-color;
				font-size: 20px;
				font-weight: 500;
			}
			p {
				font-size: 16px;
				color: #6e7a7a;
			}
		}
		&--faq {
			box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
			height: auto;
			margin-bottom: 20px;
			padding: 40px 30px;
			transition: all 0.4s ease-in-out;
			.zirox-box-img {
				width: 70px;
				height: 70px;
				background-color: $home-3-primary-color;
				transition: all 0.4s ease-in-out;
				border-radius: 5px;
				border-bottom-right-radius: 30px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				i {
					font-size: 40px;
					color: #fff;
					transition: all 0.4s ease-in-out;
				}
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: -8px;
					left: -8px;
					border-radius: 5px;
					background-color: rgba(7, 132, 127, 0.3);
					transition: all 0.4s ease-in-out;
					z-index: -1;
				}
			}
			h3 {
				font-size: 22px;
				font-weight: 600;
				color: #000;
				margin: 30px 0 10px 0;
				transition: all 0.4s ease-in-out;
			}
			p {
				font-size: 17px;
				color: #878c8f;
				font-weight: 400;
				transition: all 0.4s ease-in-out;
			}
			&:hover {
				background-color: $home-3-primary-color;
				.zirox-box-img {
					background-color: #fff;
					i {
						color: $home-3-primary-color;
					}
				}
				h3 {
					color: #fff;
					
				}
				p {
					color: #fff;
				}
			}
		}
	}
	/*------------------------------------
	Services Section Box
	------------------------------------*/
	&-services-box {
		padding: 30px;
		background-color: #fff;
		border: 2px solid transparent;
		transition: all 0.2s ease-in-out;
		@media #{$small_mobile} {
			margin-bottom: 64px;
		}
		@media #{$tab_device} {
			margin-bottom: 70px;
		}
		&:hover {
			border-color: $primary-color;
			.zirox-services-box-icon i {
				transform: rotate(180deg);
			}
		}
		&__img {
			width: 80px;
			height: 80px;
			background-color: $primary-color;
			margin-bottom: 24px;
			border-radius: 100%;
			margin-top: -72px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			i {
				font-size: 40px;
				color: #fff;
			}
		}
		
		p {
			margin: 24px 0 30px 0;
		}
		&-icon {
			width: 50px;
			height: 50px;
			background-color: $primary-color;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			i {
				color: #fff;
				font-size: 16px;
				transition: all 0.3s ease-in-out;
			}
		}
		
		&--home-2 {
			padding: 30px;
			border: 2px solid #878c8f;
			@media #{$tab_device} {
				margin-bottom: 90px;
			}
			@media #{$small_mobile} {
				margin-bottom: 80px;
				padding: 20px;
			}
			.zirox-services-box-img {
				margin-top: -90px;
				position: relative;
				@media #{$lg_device} {
					margin-top: -70px;
				}
				@media #{$tab_device} {
					margin-top: -76px;
				}
				@media #{$small_mobile} {
					margin-top: -69px;
				}
				img {
					mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='310px' height='250px'%3E%3Cpath fill-rule='evenodd' fill='rgb(28, 27, 31)' d='M310.000,-0.004 L0.000,40.757 L0.000,249.996 L310.000,249.996 L310.000,-0.004 Z'/%3E%3C/svg%3E");
    				mask-size: cover;
				}
				&-icon {
					position: absolute;
					width: 80px;
					height: 80px;
					left: 0;
					bottom: 0;
					background-color: $primary-color;
					display: flex;
					align-items: center;
					justify-content: center;
					i {
						font-size: 40px;
						padding: 0;
						color: #fff;
					}
				}
			}
			.zirox-services-box-text {
				h3 {
					margin: 28px 0 20px 0px;
					line-height: 1;
					@media #{$small_mobile} {
						margin: 20px 0;
					}
				}
				p {
					margin: 0;
				}
			}
		}
	}
	/*------------------------------------
	Projects Section Box
	------------------------------------*/
	&-projects-item {
		margin-bottom: 24px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			transform: scale(1);
			transition: all 0.4s ease-in-out;
		}
		&__detail {
			background-color: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 20px 10px;
			transition: all 0.4s ease-in-out;
			visibility: hidden;
			opacity: 0;
		} 
		&:hover {
			.zirox-projects-item__detail {
				visibility: visible;
				opacity: 1;
			}
			img {
				transform: scale(1.05);
			}
		}
	}
	/*------------------------------------
	Button
	------------------------------------*/
	&-button {
		background: $primary-color;
		color: #fff;
		padding: 18px 35px;
		transition: all 0.4s ease-in-out;
		display: inline-block;
		&-primary {
			// height: 60px;
		}
		&:hover {
			background: #3A353C;
			color: #fff;
		}
		&-third {
			background-color: $home-3-secondary-color;
			border-radius: 5px;
		}
		&--secondary {
			background-color: #fff;
			color: $home-3-primary-color;
			&:hover {
				background: $home-3-secondary-color;
				color: #fff;
			}
		}
	}

	/*------------------------------------
	Home 3 Image Overlay
	------------------------------------*/
	&-img-overlay {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color:rgba(7, 132, 127, 0.3);
			top: 0;
			left: 0;
		}
	}
	/*------------------------------------
	Home 3 Image Text Overlay
	------------------------------------*/
	&-text-overlay {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 150px;
			height: 8px;
			bottom: 4px;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba(7, 132, 127, 0.250);
		}
		&--pricing {
			&::after {
				left: 75px;
			}
			@media #{$tab_device} {
				&::after {
					left: 50%;
					transform: translateX(-50%);
				}
			}
			@media #{$small_mobile} {
				&::after {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	/*------------------------------------
	Home 3 Image Business Text 
	------------------------------------*/
	&-bg-business {
		position: absolute;
		bottom: 118px;
		left: 0;
		right: 0;
		font-size: 418px;
		color: rgba(7, 132, 127, 0.051);
		font-weight: 700;
		line-height: 0.12;
		text-transform: capitalize;
		@media #{$tab_device} {
			font-size: 164px;
			bottom: 30px;
		}
		@media #{$small_mobile} {
			font-size: 100px;
			bottom: 20px;
		}
		&--service {
			bottom: 109rem;
			right: -103rem;
			font-size: 347px;
			transform: rotate(-90deg);
			@media #{$desktop_m} {
				bottom: 79rem;
				right: -74rem;
			}
			@media #{$lg_device} {
				bottom: 56rem;
				right: -53rem;
			}
			@media #{$tab_device} {
				bottom: 40rem;
				right: -40rem;
			}
			@media #{$small_mobile} {
				bottom: 315px;
				right: -301px;
				font-size: 200px;
			}
		}
	}
	/*------------------------------------
	Home 2 Top Bar Links Right Line 
	------------------------------------*/
	&-right-line {
		&::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			background-color: #fff;
			top: 0;
			bottom: 0;
			right: -18px;
			transform: rotate(19deg);
		}
	}
	/*------------------------------------
	BreadCrumb
	------------------------------------*/
	&-breadcrumb {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-top: -20px;
		li {
			+li::before {
				content: "-";
				padding-right: 5px;
				color: #fff;
			}
			color: #fff;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $primary-color;
			}
			a {
				color: #fff;
				font-weight: 500;
				font-size: 20px;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: $primary-color;
				}
			}
		}	
	}
}

/*------------------------------------
	Sticky Header
------------------------------------*/
.sticky-top {
	animation: slideDown 0.35s ease-out;
}

/*------------------------------------
	Marquee
------------------------------------*/
.marquee-inner {
	position: absolute;
	display: inline-flex;
	width: 200%;
	&.to-left {
		animation: marqueeLeft 10s linear infinite;
	}
}