.zirox {
    &-testimonials {
        position: relative;
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 60px;
            @media #{$small_mobile} {
                flex-direction: column;
                margin-bottom: 30px;
            }
            @media #{$tab_device} {
                flex-direction: column;
                margin-bottom: 40px;
                gap: 15px;
            }
            h2 {
                margin-bottom: 0;
                max-width: 500px;
                @media #{$tab_device} {
                    margin-bottom: 20px;
                }
                @media #{$small_mobile} {
                    margin-bottom: 12px;
                }
            }
            h6,h2 {
                @media #{$tab_device} {
                    text-align: center;
                }
                @media #{$small_mobile} {
                    text-align: center;
                }
            }
        }
        &__item {
            background-color: #fff;
            box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
            padding: 30px;
            margin-bottom: 30px;
            @media #{$desktop} {
                margin-bottom: 0;
            }
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media #{$tab_device} {
                    flex-direction: column;
                    gap: 20px;
                }
                @media #{$small_mobile} {
                    flex-direction: column;
                    gap: 15px;
                }
                &-img {
                    position: relative;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                    }
                    span {
                        position: absolute;
                        top: 42px;
                        right: -12px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        background-color: $primary-color;
                        i {
                            color: #fff;
                            font-size: 22px;
                        }
                    }
                }
                &-stars {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    padding: 20px;
                    background-color: $primary-color;
                    @media #{$small_mobile} {
                        padding: 15px;
                    }
                    i {
                        color: #fff;
                        font-size: 12px;
                    }
                }
            }
            &-text {
                color: #878c8f;
                font-style: italic;
                margin: 33px 0 28px 0;
            }
        }
        &--home-3 {
            overflow: hidden;
            @media #{$ls} {
                padding-bottom: 200px;
            }
            @media #{$desktop_m} {
                padding-bottom: 200px;
            }
            @media #{$lg_device} {
                padding-bottom: 400px;
            }
            @media #{$tab_device} {
                padding-bottom: 370px;
            }
            @media #{$small_mobile} {
                padding-bottom: 300px;
            }
            .zirox-testimonials__vectors {
                img {
                    position: absolute;
                }
                &-left {
                    top: 135px;
                    width: 200px;
                    left: -128px;
                    z-index: -1;
                    @media #{$small_mobile} {
                        display: none;
                    }
                    @media #{$ls} {
                        top: 135px;
                        left: -52px;
                        width: unset;
                    }
                    @media #{$lg_device} {
                        top: -70px;
                    }
                }
            }
            .zirox-testimonials__text {
				// max-width: 315px;
				// max-width: 510px;
				// @media #{$ls} {
				// 	max-width: 480px;
				// }
				// margin-left: auto;
                @media #{$lg_device} {
                    margin-bottom: 30px;
                }   
                
                @media #{$tab_device} {
                    margin-bottom: 30px;
                }
                @media #{$small_mobile} {
                    margin-bottom: 30px;
                }
                h6 {
                    text-transform: uppercase;
                    @media #{$tab_device} {
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    @media #{$small_mobile} {
                        text-align: center;
                    }
                }
                h2 {
                    font-size: 50px;
                    font-weight: 600;
                    margin-bottom: 38px;
                    @media #{$tab_device} {
                        text-align: center;
                    }
                    @media #{$small_mobile} {
                        text-align: center;
                        font-size: 45px;
                        margin-bottom: 20px;
                    }
                }
            }
			.zirox-testimonials-items {
				&-con {
					position: absolute;
					width: 80%;
					height: auto;
					// top: 0;
					// right: 0;
					// left: auto;
					overflow: hidden;
                    @media #{$lg_device} {
                        width: 90%;
                    }
                    @media #{$tab_device} {
                        width: 90%;
                    }
                    @media #{$small_mobile} {
                        width: 90%;
                    }
				}
				.slick {
					&-slider {
						overflow: hidden;
					}
					&-list {
						margin: 0 -10px;
					}
					&-slide {
						margin: 0 10px;
					}
				}
			}
            .zirox-testimonials__item {
                position: relative;
                padding: 70px 30px 40px 30px;
                overflow: hidden;
				box-shadow: inset 0px 0 11px 0px rgba(0, 0, 0, 0.05);
                @media #{$ls} {
                    padding: 60px;
                }
                @media #{$lg_device} {
                    padding: 20px;
                }
                @media #{$tab_device} {
                    padding: 30px;
                }
                @media #{$small_mobile} {
                    padding: 20px;
                }
                &-header {

                    @media #{$desktop_m} {
                        padding-top: 30px;
                    }
                    @media #{$tab_device} {
                            flex-direction: row;
                            padding-top: 30px;
                        }
                    @media #{$small_mobile} {
                        padding-top: 30px;
                        flex-direction: row;
                    }
                    &__author {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        &-img {
                            img {
                                @media #{$desktop_m} {
                                    width: 60px;
                                    height: auto;
                                }
                            }
                        }
                        &-info {
                            h3 {
                                font-size: 18px;
                                font-weight: 600;
                                color: $home-3-primary-color;
                                @media #{$lg_device} {
                                    font-size: 16px;
                                }
                                @media #{$tab_device} {
                                    font-size: 16px;
                                }
                                @media #{$small_mobile} {
                                    font-size: 16px;
                                }
                            }
                            h6 {
                                font-size: 14px;
                                font-weight: 400;
                                color: $home-3-primary-color;
                                line-height: 12px;
                                @media #{$lg_device} {
                                    font-size: 12px;
                                }
                                @media #{$tab_device} {
                                    font-size: 12px;
                                }
                                @media #{$small_mobile} {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    &-vector {
                        i {
                            color: $home-3-primary-color;
                            font-size: 65px;
                        }
                    }
                    &-stars {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: $home-3-primary-color;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        gap: 8px;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 60px;
                            height: 60px;
                            border-bottom: solid 30px $home-3-primary-color;
                            border-left: solid 30px $home-3-primary-color;
                            border-right: solid 30px transparent;
                            border-top: solid 30px transparent;
                            transform: rotate3d(1, 1, 1, 45deg);
                            z-index: -1;
                            right: -41px;
                            bottom: -18px;
                            transform: rotate(86deg);
                            z-index: 1;
                        }
                        &::after {
                            @media #{$small_mobile} {
                                transform: rotate(94deg);
                                right: -51px;
                                bottom: -12px;
                            }
                        }
                    }
                }
                &-text {
                    font-size: 17px;
                    font-weight: 400;
                    color: #7b7981;
                    font-style: normal;
                    @media #{$lg_device} {
                        font-size: 14px;
                    }
                    @media #{$tab_device} {
                        font-size: 15px;
                    }
                    @media #{$small_mobile} {
                        font-size: 15px;
                    }
                }
            }
        }
        &--home-2 {
            background-image: url('../img/testimonials/home-2-testimonials-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.9);
            }
            h2 {
                @media #{$small_mobile} {
                    margin-bottom: 20px;
                }
            }
            .zirox-testimonials {
                &__header {
                    margin-bottom: 45px;
                    @media #{$small_mobile} {
                        margin-bottom: 90px;
                    }
                }

				&__avatars {
					display: flex;
					align-items: center;
					position: absolute;
					top: 240px;
					right: 0;
					z-index: 2;
                    @media #{$tab_device} {
                        top: 290px;
                    }
                    @media #{$small_mobile} {
                        top: 300px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
					ul {
						display: inline-flex;
						li {
							&:not(:first-child) {
								margin-left: -15px;
							}
							
							&.slick-active {
								i {
									visibility: visible;
									opacity: 1;
								}
								.zirox-testimonials__avatars__img {
									&::after {
										content: "";
										width: 100%;
										height: 100%;
										position: absolute;
										top: 0;
										right: 0;
										bottom: 0;
										left: 0;
										background-color: rgba(0, 0, 0, 0.7);
									}
								}
							}
						}
					}
					&__img {
						width: 80px;
						height: 80px;
						object-fit: cover;
						border-radius: 100%;
						overflow: hidden;
						position: relative;
						// &:not(:first-child) {
						// 	margin-left: -15px;
						// }
						@media #{$tab_device} {
							width: 60px;
							height: 60px;
						}
						@media #{$small_mobile} {
							order: 1;
							width: 50px;
							height: 50px;
						}
						i {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: #fff;
							z-index: 2;
							font-size: 24px;
							visibility: hidden;
							opacity: 0;
							transition: all 0.3s ease-in-out;
                            @media #{$small_mobile} {
                                font-size: 12px;
                            } 
						}
					}
				}
			
				&__item {
					background: transparent;
					text-align: center;
                    @media #{$small_mobile} {
                        padding: 0;
                    }
					&-head {
						display: flex;
						align-items: center;
						@media #{$small_mobile} {
							flex-direction: column;
							gap: 0;
						}
						&-author {
							display: flex;
							align-items: center;
							gap: 35px;
							flex-basis: 50%;
							@media #{$tab_device} {
								gap: 20px;
							}
							@media #{$small_mobile} {
								order: 2;
                                width: 100%;
                                justify-content: left;
                                gap: 10px;
							}
							&-img {
								position: relative;
								img {
									width: 100px;
									height: 100px;
									object-fit: cover;
									border-radius: 100%;
									@media #{$tab_device} {
										width: 80px;
										height: 80px;
									}
									@media #{$small_mobile} {
										width: 60px;
										height: 60px;
									}
								}
								span {
									position: absolute;
									top: 42px;
									right: -12px;
									width: 40px;
									height: 40px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 100%;
									background-color: $primary-color;
									@media #{$tab_device} {
										width: 30px;
										height: 30px;
									}
									@media #{$small_mobile} {
										width: 20px;
										height: 20px;
                                        right: -2px;
									}
									i {
										color: #fff;
										font-size: 22px;
                                        @media #{$small_mobile} {
                                            font-size: 12px;
                                        }
									}
								}
							}
							&-info {
								text-align: center;
                                @media #{$small_mobile} {
                                    text-align: left;
                                }
								h3 {
									color: #fff;
									font-weight: 500;
                                    @media #{$small_mobile} {
                                        font-size: 18px;
                                        line-height: 24px;
                                    }
								}
								h6 {
									font-size: 16px;
									font-weight: 400; 
                                    @media #{$small_mobile} {
                                        font-size: 14px;
                                        line-height: 18px;
                                    }
								}
							}
						}
						&-vector {
							i {
								font-size: 100px;
								color: $primary-color;
								@media #{$tab_device} {
									font-size: 80px;
								}
								@media #{$small_mobile} {
									display: none;
								}
							}
							
							@media #{$small_mobile} {
								order: 3;
							}
						}
						
					}
					&-text {
						max-width: 650px;
						margin-inline: auto;
						color: #ebe5e5;
						font-weight: 400;
						font-size: 14px;
						font-style: italic;
						text-align: justify;
                        @media #{$small_mobile} {
                            margin: 20px 0;
                        }
					}
					&-address {
						font-size: 14px;
						font-weight: 400;
						color: #878c8f;
					}
					&-stars {
						padding: 16px 20px;
						background: #363539;
						display: inline-block;
                        @media #{$small_mobile} {
                            padding: 10px 20px;
                        }
						i {
							color: $primary-color;
							font-size: 12px;
						}
					}
				}
			}
		}
    }
}