*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 85px;
	font-weight: 500;
}

h2 {
	font-size: 45px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	line-height: 35px;
	font-weight: 600;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}

h6 {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: $primary-color;
}

p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
}

a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

// Container 
.container-fluid {
	width: 95%;
	@media #{$small_mobile} {
		width: 100%;
	}
}

// Hamburger 
.zirox-hamburger-menu {
	display: inline-flex;
	
	.zirox-hamburger-menu__btn {
		&--active {
			span {
				transform: rotate(45deg);
				&::before {
					top: 0;
					transform: rotate(0);
				}
				&::after {
					top: 0;
					transform: rotate(90deg);
				}
			}
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		width: 26px;
		height: 26px;
		position: relative;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: $primary-color;
			transition: all 0.3s ease-in-out;
			&::before, &::after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background-color: $primary-color;
				transition: all 0.3s ease-in-out;
			}
			&::before {
				top: -8px;
			}
			&::after {
				top: 8px;
			}
		}

	}
}