.zirox {
    &-header-3 {
        background-color: #fff;
        @media #{$small_mobile} {
            background-color: $home-3-primary-color;
			padding: 20px 0;
        }
		@media #{$tab_device} {
			padding: 10px 0;
		}
		.container-fluid {
			margin-left: -1.5rem;
		}
        &__navbar {
            &-logo {
                padding: 10px 50px;
                background-color: $home-3-primary-color;
                @media #{$small_mobile} {
                    padding: 0;
                }
				a {
					padding-left: 1.5rem;
				}
                img {
                    padding: 10px;
                }
            }
            .zirox-hamburger-menu {
                display: inline-flex;
                
                .zirox-hamburger-menu__btn {
                    &--active {
                        span {
                            transform: rotate(45deg);
                            &::before {
                                top: 0;
                                transform: rotate(0);
                            }
                            &::after {
                                top: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
                &__btn {
                    display: flex;
                    align-items: center;
                    width: 26px;
                    height: 26px;
                    position: relative;
                    cursor: pointer;
                    span {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: $home-3-primary-color;
                        transition: all 0.3s ease-in-out;
                        @media #{$small_mobile} {
                            background-color: #fff;
                        }
                        &::before, &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: $home-3-primary-color;
                            transition: all 0.3s ease-in-out;
                            @media #{$small_mobile} {
                                background-color: #fff;
                            }
                        }
                        &::before {
                            top: -8px;
                        }
                        &::after {
                            top: 8px;
                        }
                    }

                }
            }
            .ud-main-menu {
                &__links {
                    display: flex;
                    align-items: center;
                    li {
                        a {
                            &:hover {
                                color: $home-3-primary-color;
                            }
                            i {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            &-socials {
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all ease-in-out 0.3s;
                        &:hover {
                            color: $home-3-secondary-color;
                            i {
                                color: $home-3-secondary-color;
                            }
                        }
                        i {
                            font-size: 20px;
                            color: $home-3-primary-color;
                            transition: all ease-in-out 0.3s;
                        }
                    }
                }
                &-search {
                    padding: 5px;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 90%;
                        width: 1px;
                        right: 35px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $home-3-primary-color;
                    }
                }
            }
            &-nav-links {
                li {
                    a {
                        color: $home-3-primary-color;
                    }
                }
                &-contact-box {
                    i {
                        color: $home-3-primary-color;
                        font-size: 35px;
                    }
                    span {
                        color: $home-3-primary-color;
                    }
                    h4 {
                        a {
                            color: $home-3-primary-color;
                        }
                    }
                }
            }
        }
    }
}