.zirox-header__top-bar {
	background-color: #FAF7F7;
	// @media #{$small_mobile} {
	// 	display: none;
	// }
	.container-fluid {
		width: 95%;
	}
	&__info {
		display: flex;
		align-items: center;
		@media #{$small_mobile} {
			display: none;
		}
		@media #{$tab_device} {
			display: none;
		}
		.zirox-header-info-box {
			position: relative;
			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					// height: 100%;
					width: 2px;
					background-color: #878c8f5c;
					top: 0;
					right: 0;
					bottom: -5px;
					transform: rotate(20deg);
				}
			}
			i {
				font-size: 30px;
				color: $primary-color;
			}
			span {
				font-size: 14px;
				color: #878C8F;
				font-family: "Manrope", sans-serif;
				font-weight: 400;
				line-height: 20px;
			}
			h4 {
				font-size: 20px;
				font-weight: 700;
				line-height: 20px;
				margin-top: 5px;
			}
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: 40px;
		&__socials {
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				i {
					font-size: 20px;
				}
				
			}
			
		}
		.zirox-hamburger-menu {
			cursor: pointer;
			margin-left: 20px;
			i {
				font-size: 34px;
				color: $primary-color;
			}
		}
		&__menu {
			img {
				width: 28px;
				height: 28px;
			}
		}
	}
	&--home-2 {
		background-color: transparent;
		
		position: relative;
		z-index: 1;
		.container-fluid {
			width: 90%;
			background-color: #1c1b1f;
			padding: 15px 10px;
			@media #{$ls} {
				width: 88.5%;
				padding: 15px 20px 15px 45px;
			}
			@media #{$big_s} {
				width: 92%;
			}
		}
		.zirox-header__top-bar-left {
			ul {
				display: flex;
				align-items: center;
				gap: 40px;
				li {
					display: flex;
					align-items: center;
					gap: 20px;
					i {
						color: #fff;
					}
					a {
						color: #fff;
					}
				}
			}
		}
		.zirox-header__top-bar-right {
			display: flex;
			align-items: center;
			justify-content: end;
			gap: 50px;
			&-links{
				display: flex;
				align-items: center;
				gap: 35px;
				li {
					a {
						color: #fff;
						position: relative;
					}
				}
			}
			.zirox-header-info-box__details {
				span {
					color: #878c8f;
				}
				a {
					color: #fff;
				}
			}
			.zirox-header-info-box {
				i {
					font-size: 30px;
					color: $primary-color;
				}
			}
		}
	}
}