.zirox {
    &-footer {
		background-color: #1C1C1E;
        position: relative;
        padding-bottom: 0;
        &::after {
            content: "";
            background: url('../img/footer/footer-bg-map.png') no-repeat;
            background-size: cover;
            background-position: center bottom;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .container {
            position: relative;
            z-index: 11;
        }
        
        &__about {
            &-text {
                margin: 38px 0 30px 0;
            }
            &__socials {
                display: flex;
                align-items: center;
                gap: 20px;
                li {
                    a {
                        cursor: pointer;
                        background-color: rgba($color: $white-color, $alpha: 0.039);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 38px;
                        height: 38px;
                        color: #f4f4f4;
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
            @media #{$tab_device} {
                margin-bottom: 50px;
            }
            @media #{$small_mobile}  {
                margin-bottom: 30px;
            }
        }
        h3 {
            color: #fff;
            margin-bottom: 32px;
        }
        &__explore {
            ul{
                li{
                    margin-bottom: 10px;
                    a {
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 400;
                        color: #878C8F;
                        margin: 0;
                    }
                }
            }
            @media #{$tab_device} {
                margin-bottom: 50px;
            }

            @media #{$small_mobile} {
                margin-bottom: 30px;
            }
        }
        &__gallery {
            margin-bottom: -24px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            @media #{$tab_device} {
                margin-bottom: 30px;
            }

            @media #{$small_mobile} {
                margin-bottom: 10px;
            }
        }
        &__news-letter {
            form {
                display: flex;
                align-items: center;

                input {
                    padding: 15px 25px;
                    width: 100%;
                    outline: none;
                    background: transparent;
                    border: none;
                    color: $white-color;
                    background-color: rgba($color: $white-color, $alpha: 0.039);
					&::placeholder {
						color: #878C8F;
					}
                }
            
                button {
                    padding: 0 5px;
                    background: transparent;
                    margin-left: -40px;

                    i {
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }
            ul {
                margin-top: 20px;
                li {
                    display: flex;
                    align-items: center;
                    color: #878c8f;
                    i {
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }  
            }
        }
        &__bar{
            
            background-color: rgba($color: $white-color, $alpha: 0.039);
            margin-top: 100px;
            &-content {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 15px 0;
                @media #{$small_mobile} {
                    padding: 8px;
                }
                p {
                    text-align: center;
                }
                &-scroll-top {
                    background: transparent;
                    background-color: rgba($color: $white-color, $alpha: 0.039);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 20px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    @media #{$small_mobile} {
                        width: 40px;
                        height: 40px;
                        right: 10px;
                        bottom: 26px;
                        top: auto;
                        left: auto;
                        position: fixed;
                        background-color: rgba(28, 27, 31, 0.8);
                    }
                    i {
                        color: #f4f4f4;
                        font-size: 20px;
                        @media #{$small_mobile} {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        &--home-3 {
            background-color: $home-3-primary-color;
            &::after {
                content: unset;
            }
            .zirox-footer-delivery {
                background-color: #f2f7f7;
                padding: 15px;
                transform: translateY(-94px);
                @media #{$tab_device} {
                    transform: translateY(-168px);
                }
                @media #{$small_mobile} {
                    transform: translateY(-194px);
                }
                &__content {
                    background-color: $home-3-primary-color;
                    background-image: url('../img/footer/footer-delivery-bg.png');
                    background-repeat: no-repeat;
                    background-position-x: left;
                    background-size: contain;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 50px;
                    border-radius: 20px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: $home-3-primary-color;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0.9;
                        border-radius: 20px;
                    }
                    @media #{$tab_device} {
                        flex-direction: column;
                        gap: 50px;
                        background-position: center;
                        background-size: cover;
                    }
                    @media #{$small_mobile} {
                        flex-direction: column;
                        gap: 30px;
                        background-position: center;
                        background-size: cover;
                    }
                    h2 {
                        font-size: 36px;
                        font-weight: 500;
                        @media #{$tab_device} {
                            text-align: center;
                        }
                        @media #{$small_mobile} {
                            text-align: center;
							font-size: 26px;
                        }
                    }
                }
            }
            .zirox-footer__content {
                padding-top: 50px;
                padding-bottom: 40px;
                border-bottom: 1px solid #f4f4f48c;
                @media #{$tab_device} {
                    padding-top: 0;
                    margin-top: -90px;
                }
                @media #{$small_mobile} {
                    padding-top: 0;
                    margin-top: -104px;
                }
                &__items {
                    border-bottom: 1px solid #f4f4f48c;
                    padding-bottom: 30px;
                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        color: #fff;
                        margin-bottom: 30px;
                        @media #{$small_mobile} {
                            margin-bottom: 15px;
                        }
                    }
                    
                    ul {
                        @media #{$small_mobile} {
                            margin-bottom: 30px;
                        }
                        li {
                            margin-bottom: 10px;
                            @media #{$small_mobile} {
                                margin-bottom: 5px;
                            }
                            a {
                                font-size: 16px;
                                font-weight: 400;
                                color: #fff;
                                @media #{$small_mobile} {
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
                &__socials {
                    padding: 40px 0;
                    @media #{$small_mobile} {
                        padding: 25px 0;
                    }
                    &-links {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        @media #{$small_mobile} {
                            margin-bottom: 20px;
                        }
                        li {
                            a {
                                cursor: pointer;
                                background-color: rgba($color: $white-color, $alpha: 0.039);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 38px;
                                height: 38px;
                                color: #f4f4f4;
                                transition: all ease-in-out 0.4s;
                                &:hover {
                                    background-color: $home-3-secondary-color;
                                }
                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    &-tel {
                        span {
                            font-size: 18px;
                            font-weight: 500;
                            color: #fff;
                            @media #{$small_mobile} {
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                        h4 {
							margin-top: 10px;
                            font-size: 26px;
                            color: #fff;
                            @media #{$small_mobile} {
                                font-size: 18px;
                            }
                        }
                    }
                    
                }
                &__subscribe {
                    &-text {
                        font-size: 16px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 60px;
                        @media #{$small_mobile} {
                            margin-bottom: 30px;
                        }
                    }
                    &-form {
                        padding: 40px;
                        background-color: rgb(44, 150, 146);
                        label {
                            font-size: 16px;
                            font-weight: 400;
                            color: #fff;
                            margin-bottom: 30px;
                            @media #{$small_mobile} {
                                margin-bottom: 10px;
                                line-height: 22px;
                            }
                        }
                        input {
                            padding: 15px 10px;
                            border: none;
                            outline: none;
                            background-color: rgba($color: $white-color, $alpha: 0.090);
                            color: #fff;
                            font-size: 14px;
                            width: 80%;
                            &::placeholder {
                                color: #fff; 
                                font-size: 14px;
                            }
                            @media #{$small_mobile} {
                                width: 76%;
                            }
                        }
                        button {
                            background-color: $home-3-secondary-color;
                            color: #fff;
                            font-size: 14px;
                            padding: 18px;
                            margin-left: -5px;
                        }
                    }
                }
            }
            .zirox-footer__bar {
                background: transparent;
                margin-top: 0;
                padding: 40px 0;
                @media #{$small_mobile} {
                    padding: 20px 0;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    } 
}