.zirox-doc  {
    &-header {
        padding: 20px 0;
        background-color: #FAF7F7;
        margin-bottom: 30px;
        position: sticky;
        top: 0;
        z-index: 1;
        &-nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-logo {
                img {
                    width: 150px;
                    height: auto;
                }
            }
            &-socials {
                display: flex;
                align-items: center;
                gap: 20px;
                li {
                    a {
                        transition: all 0.4s ease-in-out;
                        i {
                            font-size: 22px;
                            color: #000;
                            transition: all 0.4s ease-in-out;
                        }
                        &:hover {
                            i {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            &-search {
                display: flex;
                align-items: center;
                gap: 20px;
                &-input {
                    input {
                        outline: none;
                        padding: 10px 20px;
						border: 2px solid #f7f7f7;
                    }
                }
                a {
                    padding: 10px 24px;
                    color: #fff;
                    background-color: $primary-color;
                    border: 2px solid transparent;
                    transition: all 0.4s ease-in-out;
                    &:hover {
                        border-color: $primary-color;
                        background: transparent;
                        color: $primary-color;
                    }
                }
                .mobile-menu {
                    button {
                        border: none;
                        i {
                            font-size: 28px;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}