.zirox {
    &-latest-projects {
        background-image: url('../img/latest-project/home-2-latest-project-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0, 0.9);
        }
		.filter-item {
			display: none;
		}
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media #{$lg_device} {
                flex-direction: column;
            }
            @media #{$tab_device} {
                flex-direction: column;
            }
            @media #{$small_mobile} {
                flex-direction: column;
            }
            &-left {
                h2 {
                    margin-bottom: 0;
                    max-width: 600px;
                    @media #{$lg_device} {
                        margin-bottom: 48px;
                    }
                    @media #{$tab_device} {
                        margin-bottom: 40px;
                    }
                    @media #{$small_mobile} {
                        margin-bottom: 30px;
                    }
                }
            }
            &-right {
                &__tab {
                    display: flex;
                    align-items: center;
                    &-link {
                        padding: 24px 30px;
                        background-color: #fff;
                        color: #000;
                        transition: all 0.4s ease-in-out;
						
                        @media #{$tab_device} {
                            padding: 20px 28px;
                        }
                        @media #{$small_mobile} {
                            padding: 14px 16px;
                            font-size: 12px;
                        }
                        &:hover {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                    .active {
                        background: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
        .container-fluid {
            padding: 0 100px;
            @media #{$desktop_m} {
                padding: 0 30px;
            }
            @media #{$small_mobile} {
                padding: 0 20px;
            }
        }
        &-item {
            position: relative;
            transition: all 0.4s ease-in-out;
            @media #{$desktop} {
                height: 100%;
            }
            @media #{$lg_device} {
                height: 100%;
            }
            @media #{$tab_device} {
                margin-bottom: 50px;
            }
            @media #{$small_mobile} {
                margin-bottom: 30px;
            }
            &:hover {
                .zirox-latest-projects-item-info{
                    opacity: 1;
                }
            }
            &-img {
                img {
                    width: 100%;
                    height: auto;
                    max-height: 410px;
                    object-fit: cover;
                    @media #{$lg_device} {
                        height: 100%;
                    }
                    @media #{$desktop} {
                        height: 100%;
                    }
                }
                @media #{$lg_device} {
                    height: 100%;
                }
                @media #{$desktop} {
                    height: 100%;
                }
            }
            &-info {
                position: absolute;
                width: 80%;
                padding: 40px 10px 20px 10px;
                background: #fff;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: all 0.4s ease-in-out;
				clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0% 100%);
                @media #{$lg_device} {
                    width: 90%;
                    padding-bottom: 20px;
                }
                h3 {
                    text-align: center;
                    font-size: 21px;
                    font-weight: 500;
                    @media #{$lg_device} {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                p {
                    text-align: center;
                    color: #878c8f;
                    @media #{$lg_device} {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}