.zirox {
    &-brand {
        background-image: url('../img/brand/brand-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 370px 0 120px 0;
        margin-top: -320px;
        position: relative;
        overflow: hidden;
        @media #{$tab_device} {
            padding: 70px 0;
            margin-top: 0;
        }
        @media #{$small_mobile} {
            padding: 50px 0;
            margin-top: 0;
        }
        &__items {
            &-item {
                img {
                    padding: 30px 20px;
                    border-radius: 10px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        background-color: #fff;
                        box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.05);
                    }
                }

            }
        }
    }
}